body{
  font-family: Arial;
  background:#f5f7fa;
}

.header{
  display:flex;
  justify-content:space-between;
  padding:20px;
  background:#2f4f6f;
  color:white;
}

.cards{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:15px;
  padding:20px;
}

.card{
  padding:20px;
  border-radius:8px;
}

.schedule{
  margin:20px;
  background:white;
  padding:20px;
  border-radius:8px;
}

.footer-buttons{
  display:flex;
  justify-content:space-around;
  margin:30px;
}

.btn{
  padding:15px 25px;
  border:none;
  border-radius:8px;
}